.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

/* #region Profile */
.profileContainer {
    width: 100%;
    height: 288px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    box-shadow: 0 0 3px 1px white;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region Photo */
.profileContainer .photo {
    position: relative;
    margin-right: 30px;
    width: 210px;
    height: 210px;    
    border-radius: 50%;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
/* #endregion */

/* #region Info */
.profileContainer .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

/* #region Top info */
.info .topInfo {
    height: 117px;
    width: 512px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.topInfo .name {
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.topInfo .birthday {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
/* #endregion */

/* #region Bottom info */
.info .bottomInfo {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomInfo .profession {
    height: 60px;
    line-height: 60px;
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 500;
}

.bottomInfo .specialization {
    height: 34px;
    width: 285px;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
}

.specialization .specializationItem {
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
    width: 127px;
    height: 32px; 
    line-height: 32px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: rgb(47, 47, 47);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}
/* #endregion */
/* #endregion */

/* #region Links */
.profileContainer .links {
    margin-left: 30px;
    width: 210px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links .circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circles .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: white;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    color: #616161;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.circle:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.links .email {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #ebebeb;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #2f2f2f;
    font-weight: 300;
}
/* #endregion */
/* #endregion */

/* #region Info container */
.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.infoContainer .title {
    font-size: 35px;
    font-weight: 300;
    color: rgba(111, 111, 111, 0.5);
    text-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
}

/* #region Interaction */
.infoContainer .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.buttons .buttonContainer {
    transform-origin: center;
    position: relative;
    height: 60px;
    width: 60px;
}

.buttonContainer .button {
    height: 60px;
    width: 60px;   
    background-color: #ececec;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #ffffff;
    transform: scale(1.25);
}

.buttonContainer .buttonFocused {
    margin-top: inherit;
    margin-left: inherit;
    height: inherit;
    width: inherit;
    scale: inherit;
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    border: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

.buttonFocused:hover {
    transform: scale(1.25);
}
/* #endregion */

/* #region Description */
.infoContainer .descriptionContainer {
    width: 1003px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    transform: scale(1);
    opacity: 1;
    transform-origin: top;
    animation: appear 0.4s linear; 
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.infoContainer .descriptionTransitionContainer {
    width: 1003px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    animation: fadein 0.5s linear;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.infoContainer .hideDescription {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
}

.itemTitle {
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: #7E7E7E;
    border-bottom: 1px solid #828282;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    font-weight: 500;
    color: #e4e4e4;
}

.itemData {
    height: 342px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 20px;
}

    .itemData .itemInfo {
        width: 702px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

        .itemInfo .tagsArea {
            display: flex;     
            justify-content: start;
            margin-bottom: 20px;
        }

        .itemInfo .textArea {
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            color: #2F2F2F;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

            .textArea .textItem {
                width: 100%;
                margin-bottom: 20px;
            }

    .itemData .itemPhotos {
        height: 301px;
        display: flex;  
        flex-direction: column;
        justify-content: space-between;
    }

        .itemPhotos .itemPhotoContainer {
            position: relative;
            width: 230px;
            height: 144px;
        }

            .itemPhotoContainer .itemPhoto {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
                overflow: hidden;
                /* cursor: pointer; */
                transition: all 0.3s;
            }
/* 
            .itemPhoto:hover {
                transform: scale(1.05);
            } */
/* #endregion */
/* #endregion */