.container {
    position: relative;
    height: 100%;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.title {
    font-family: 'Maven Pro', Arial;
    font-size: 50px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 130px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* #region Header */
.header {
    height: 95px;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    border: solid 1px rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 850px;
}

.logo {
    height: 61px;
    cursor: pointer;
}

.button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 38px;
    width: 139px;
    color: rgb(228, 228, 228);
    background-color: transparent;   
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 16px;
    border: 0;
}

.buttonBorder {
    border-right: solid 1px rgb(228, 228, 228);
}

.button:hover {
    color: white;
    transition: color 0.3s;
    cursor: pointer;
}
/* #endregion */

/* #region Footer */
.footer {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    border: solid 1px rgba(0, 0, 0, 0.36);
}

.companyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 253px;
    height: 56px;
}

.companyAddress {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    width: 177px;
    height: 48px;
}

.companyInfo {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(210, 210, 210, 0.682);
    padding: 0;
    margin: 0;
}

.companyLogo {
    padding-top: 2px;
    height: 61px;
    opacity: 0.3;
}

.buttonsContainer {
    width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

    .buttonsContainer .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        background-color: #BEBEBE;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .circle:hover {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
    }

.emailContainer {
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    color: #d2d2d2;
    font-size: 16px;
    font-weight: 300;
}

/* #endregion */

/* #region Tags */
.projectTag {
    color: rgb(228, 228, 228);   
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    line-height: 35px;
}

.projectTag .tagBlue {
    padding: 0px 15px;  
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(68, 101, 220);
}

.projectTag .tagGreen {
    padding: 0px 15px;  
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(101, 157, 44);
}

.projectTag .tagOrange {
    padding: 0px 15px;  
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(211, 135, 19);
}

.projectTag .tagRed {
    padding: 0px 15px;  
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(160, 67, 38);
}

.projectTag .tagGray {
    padding: 0px 15px;  
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(62, 62, 62);
}
/* #endregion */


