.background {
    display: static
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #region Profile */
.profileContainer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(231, 231, 231, 0.7);
    box-shadow: 0px 0px 10px rgba(135, 135, 135, 0.4);
    min-width: 715px;
    height: 305px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profilePhoto { 
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
}

.profileData {
    margin-top: 80px;
    height: 147px;
    width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

.profileName {
    height: 55px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid white;
}

.profileProfession {
    height: 55px;    
    font-weight: 500;
    font-size: 18px;
    color: rgb(47, 47, 47);
    text-align: center;
    padding-top: 15px;
}

.profileSpecialization {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.profileSpecializationItem {
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
    width: 127px;
    height: 33px; 
    font-weight: 400;
    font-size: 16px;
    color: rgb(47, 47, 47);
    text-align: center;
    padding-top: 7px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}
/* #endregion */

/* #region Spotlight */
.spotlightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 315px;
    bottom: 90px;
    width: 835px;
    min-height: 295px;
}

.spotlightArrow {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
    transition: transform 0.2s;
}

.spotlightArrow:hover {
    opacity: 1;
    transform: scale(1.35);
}

.projectContainer {
    width: 715px;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;  
    box-shadow: 0px 0px 10px 1px rgb(135, 135, 135);
    cursor: pointer;
}

.projectContainer .coverBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: height 0.3s, background-color 0.3s;
}

.projectContainer .projectName {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: white;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    transition: opacity 0.2s, transform 0.3s;
}

.projectContainer .projectDescription {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 110px;
    color: rgb(228, 228, 228);  
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 110px;
    opacity: 0;
    transition: opacity 0.2s, transform 0.3s;
}

.projectContainer:hover .coverBottom {
    height: 110px;
    background-color: rgba(0, 0, 0, 0.7);
}

.projectContainer:hover .projectName {
    transform: translateY(20px);
    opacity: 0;
}

.projectContainer:hover .projectDescription {
    transform: translateY(20px);
    opacity: 1;
}

.projectContainer .projectTagMobile {
    opacity: 0;
    width: 86px;
    height: 35px;
    background-color: rgb(68, 101, 220);
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    color: rgb(228, 228, 228);   
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    line-height: 35px;
    transition: opacity 0.3s;
    transition: transform 0.3s;
    position: absolute;
    bottom: 195px;
    right: 16px;
}

.projectContainer:hover .projectTagMobile {
    opacity: 0.95;
    transform: translateY(70px);
}

.projectContainer .projectTagTime {
    opacity: 0;
    width: 125px;
    height: 35px;
    background-color: rgb(62, 62, 62);
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    color: rgb(228, 228, 228);   
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    line-height: 35px;
    transition: opacity 0.3s;
    transition: transform 0.3s;
    position: absolute;
    bottom: 195px;
    left: 16px;
}

.projectContainer:hover .projectTagTime {
    opacity: 0.95;
    transform: translateY(70px);
}

.projectContainer .coverTop {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;  
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 45px;
    padding-top: 80px;
    text-align: center;
    transition: opacity 0.3s;
}

.projectContainer:hover .coverTop {
    opacity: 1;
}
/* #endregion */

/* #region Legacy */
.btn-menu {
    font-size: 16px;
    height: 50px;
    width: 150px;
    align-self: center;
    border-color: transparent;
}

.flexbox-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
}

.flexbox-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.flexbox-item {
    margin: 10px;
    border: 1px solid #333;
    background-color: #eeeeee;
}

.flexbox-item-1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
}

.flexbox-item-2 {
    height: 700px;
    width: 800px;
}

.flexbox-item-3 {
    width: 100%;
    height: 80%;
}

.flexbox-item-4 {
    width: 100%;
    min-height: 15%;
}

.flexbox-photo {
    width: 100%;
}

.text-homepage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
/* #endregion */